@import './base/colors';

//Font Roboto(texte) et Shrikhand(logo et titres)
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   font-family: 'roboto', sans-serif;
   box-sizing: border-box;

   a {
      color: black;
   }
}

//Header 

header {

   height: 63px;
   text-align: center;

}
#ohmyfood{
   width: 162px;
   padding-top: 17px;
   position: relative; 
}

main {
   background-color: $silver-gray-color;
}

//Banner Location
#bannerlocation {
   display: flex;
   justify-content: center;
   align-self: center;
   align-items: center;
   height: 50px;
   background-color: #EAEAEA;

   i {
      margin-right: 13px;
   }

   P {
      font-weight: 500;
      font-size: 16px;
   }
}

.reservation {


   height: 265px;
   display: flex;
   flex-direction: column;
   gap: 1rem;

   h2 {
      padding: 2rem 3rem 0 3rem;
      text-align: center;
   }

   p {
      text-align: center;
      margin-left: 8px;
      margin-right: 8px;
   }

   button {
      font-size: 16px;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
   }
}



#explorebtn {
   width: 218px;
   height: 50px;
   border: none;
   color: white;
   border-radius: 25px;
   background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

   &:hover {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
   }
}

#functioning {
   max-height: 440px;
   width: 100%;
   background-color: white;
   // border: solid 1px red;
   display: flex;
   flex-direction: column;

   h3 {
      font-size: 24px;
      font-weight: 700;
      margin-top: 48px;
      padding-left: 20px;
   }
}

.functioning__btn {


   display: flex;
   flex-direction: column;
   padding: 26px 20px 68px 35px;
   gap: 1.5rem;

   button {
      border: none;
      font-size: 16px;
      font-weight: 500;
      width: 100%;
      height: 72.38px;
      border-radius: 20px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
   }

   #functioning__ol {

      width: 100%;
      counter-reset: my-awesome-counter;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      li {
         counter-increment: my-awesome-counter;
         position: relative;
      }

      li::before {
         content: counter(my-awesome-counter);
         color: white;
         font-size: 15px;
         display: flex;
         align-items: center;
         justify-content: center;
         font-weight: bold;
         position: absolute;
         --size: 32px;
         left: calc(-1 * var(--size) - 10px);
         line-height: var(--size);
         width: 24px;
         height: 24px;
         top: 25px;
         left: -18px;
         background: #9356DC;
         border-radius: 50%;
         text-align: center;
         box-shadow: 1px 1px 0 #999;
      }
   }
}

.fa-mobile-screen {

   margin-right: 27px;

   :hover {
      color: #9356DC;
   }
}

.fa-list {
   margin-right: 23px;

   :hover {
      color: #9356DC;
   }

}

.fa-store {
   margin-right: 20px;

   :hover {
      color: #9356DC;
   }
}



//Cards 
#restaurants {
   padding: 20px 20px 20px 20px;
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 1rem;

   ul{
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
   }
}

#restaurants li {
   list-style: none;
}

.restaurant__text {
   padding-left: 14px;
}

.restaurant__link {

   display: block;
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
   width: 100%;
   height: 251px;
   border-radius: 15px;


   img {

      height: 69.32%;
      width: 100%;
      border-radius: 15px 15px 0 0;
      object-fit: cover;
   }

}

.restaurant__card {
   width: 100%;
   height: 251px;
   position: relative;
}

.label_new {
   position: absolute;
   font-size: 14px;
   height: 29px;
   width: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #008766;
   font-weight: 500;
   background: #99E2D0;
   top: 15px;
   right: 15px;

}

.card-heart {
   color: black;
   z-index: 1;
   position: absolute;
   top: 0;
   right: 0%;
   font-size: 22px;
   right: 6%;
   top: 77%;


}

.after-card-heart {

   color: #9356DC;
   font-size: 22px;
   right: 6%;
   top: 77%;
   z-index: 1;
   position: absolute;
   transition: opacity 0.9s ease-in-out;
   opacity: 0;
}

.after-card-heart:hover {
   opacity: 1;
}

.restaurant__text {
   display: flex;
   flex-direction: column;
   margin-top: 12px;
   margin-bottom: 12px;
}

.withlogo{

   color: white;
}

footer{
   background-color:#353535 ;
   padding: 22px 0 22px 25px;
  
   ul{
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
   }
   li{
      list-style: none;
      color: white;

   i{
      margin-right: 10px;
   }
   }
}


//Media queries 

@media screen and (min-width: 1000px) {

   #functioning__ol {
          flex-direction:row !important;
          justify-content:center !important;
          gap:37px !important;

          li{
            width: 322px;
          }
   }

   #restaurants{
      background-color: white;
     
      ul{
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;

         li{
            width: 470px;
         }
      }

   }

   footer{

      height: 114px;
      flex-direction: row-reverse !important;
      align-items: center !important;

      img{

         height: 27px;
         margin-top: 1.5%;
         margin-right: 3.5%;
         margin-left: 7%;
      }

      ul{

         flex-direction: row;
         gap: 2.5rem;
      }
   }
   
   }
   
   

//La palette du goût
h1{
   position: relative !important;
   height: 100px;
   text-align: center;
   display: flex;
   align-items: center;
   padding: 7%;
   font-family: Shrikland , sans-serif !important;
   font-weight: 900;
   font-style: italic;
   font-size: 28px;

}
.fa-arrow-left{

   font-size: 17px;
   position: absolute;
   left: 4%;
   top: 2.5%;
}

.menu-container{

   margin-top: -10%;
   width: 100%;
   z-index: 2;
   position: absolute;
   background-color: #F7F7F7;
   border-radius: 35px 35px;
}

.first-restaurant-img{
   height: 275px;
   width: 100%;
   z-index: 1;
   position: relative;
}

.h1-heart {
   color: black;
   z-index: 1;
   position: absolute;
   top: 42% !important;
   right: 0%;
   font-size: 22px;
   left: 83% !important;
   right: 6%;
   top: 77%;


}

.after-h1-heart {

   color: #9356DC;
   font-size: 22px;
   right: 6%;
   top: 42%;
   left: 83% !important;
   z-index: 1;
   position: absolute;
   transition: opacity 0.9s ease-in-out;
   opacity: 0;
}

.after-h1-heart:hover {
   opacity: 1;
}
